<nav class="shadow-sm shadow-black/40 flex justify-between sm:justify-around items-center p-5">
    <h1 class="font-serif font-medium text-4xl text-burning-sand-600 drop-shadow-xl">VITRINE</h1>
    <i class="sm:hidden fa-solid fa-bars text-2xl py-1 px-2 rounded-md bg-burning-sand-200 text-burning-sand-600"></i>
    <ul class="hidden sm:flex space-x-7 text-burning-sand-800">
        <li>
            <a href="" class="border-b-2 border-burning-sand-800">Produtos</a>
        </li>
        <li>
            <a href="" class="border-b-2 border-burning-sand-800">Promoções & Ofertas</a>
        </li>
        <li>
            <a href="" class="border-b-2 border-burning-sand-800">Contato</a>
        </li>
    </ul>
</nav>